<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <p>Lorm</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>