<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Create</h1>
    <form>
        <label>Blog title</label>
        <br/>
        <input placeholder="Title" name="title" type="text" />
        <br/><br/>
        <label>Blog body</label>
        <br/>
        <textarea placeholder="Body" name="body" rows="5"></textarea>
    </form>
</body>
</html>