<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Index</h1>
    <p>Lorem!</p>
    <br/>

    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <h3><%= blog.title %></h3>
            <p><%= blog.body %></p>
        <% }); %>
    <% } else { %>
        <h4>No blogs!</h4>
    <% } %>
</body>
</html>